**HW 6 Data Preprocessing**

In [48]:
import os
import pandas as pd
import numpy as np

raw_dir =  r"C:\Users\dhair\bootcamp_dhairya_gouchwal\homework\homework6\data\raw"
processed_dir = r"C:\Users\dhair\bootcamp_dhairya_gouchwal\homework\homework6\data\processed"

#sample data from HW starter
data = {
    'age': [34, 45, 29, 50, 38, np.nan, 41],
    'income': [55000, np.nan, 42000, 58000, np.nan, np.nan, 49000],
    'score': [0.82, 0.91, np.nan, 0.76, 0.88, 0.65, 0.79],
    'zipcode': ['90210', '10001', '60614', '94103', '73301', '12345', '94105'],
    'city': ['Beverly', 'New York', 'Chicago', 'SF', 'Austin', 'Unknown', 'San Francisco'],
    'extra_data': [np.nan, 42, np.nan, np.nan, np.nan, 5, np.nan]
}

df = pd.DataFrame(data)

data_csv= os.path.join(raw_dir, 'sample_data.csv')
df.to_csv(data_csv, index= False)

In [49]:
#Validate Raw data
df.head()

    age   income  score zipcode      city  extra_data
0  34.0  55000.0   0.82   90210   Beverly         NaN
1  45.0      NaN   0.91   10001  New York        42.0
2  29.0  42000.0    NaN   60614   Chicago         NaN
3  50.0  58000.0   0.76   94103        SF         NaN
4  38.0      NaN   0.88   73301    Austin         NaN

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         6 non-null      float64
 1   income      4 non-null      float64
 2   score       6 non-null      float64
 3   zipcode     7 non-null      object
 4   city        7 non-null      object
 5   extra_data  2 non-null      float64
dtypes: float64(4), object(2)
memory usage: 468.0+ bytes

#TODOs from HW Sheet:
1. Create functions in src/cleaning.py:
fill_missing_median()
drop_missing()
normalize_data()
2. Use the provided raw dataset in /data/raw/.
3. In a Jupyter notebook:
Load dataset
Apply cleaning functions
Save cleaned dataset to /data/processed/
Compare original vs cleaned data
Document all assumptions clearly
4. Update README with a section on cleaning strategy.

In [63]:
#Cleaning process below:
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler, StandardScaler
import missingno as msno

In [64]:
pip install sklearn.preprocessing

Requirement already satisfied: sklearn.preprocessing in c:\users\dhair\anaconda3\envs\fe-course\lib\site-packages (0.1.0)
Note: you may need to restart the kernel to use updated packages.

In [65]:
import sys, os
import pandas as pd
sys.path.append(r"C:\Users\dhair\bootcamp_dhairya_gouchwal\homework\homework6\src")
import cleaning

In [66]:
#cleaning functions
df_cleaned = df.copy()
df_cleaned = cleaning.fill_missing_median(df_cleaned)
df_cleaned = cleaning.drop_missing(df_cleaned, threshold = 0.5)
df_cleaned = cleaning.normalize_data(df_cleaned)


processed_csv = os.path.join(processed_dir, 'clean_sample.csv')
df_cleaned.to_csv(processed_csv, index=False)

In [67]:
#Validate
df_cleaned.head()

        age  income     score zipcode      city  extra_data
0  0.238095  0.8125  0.653846   90210   Beverly         0.5
1  0.761905  0.6250  1.000000   10001  New York         1.0
2  0.000000  0.0000  0.596154   60614   Chicago         0.5
3  1.000000  1.0000  0.423077   94103        SF         0.5
4  0.428571  0.6250  0.884615   73301    Austin         0.5

In [68]:
#Validate
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         7 non-null      float64
 1   income      7 non-null      float64
 2   score       7 non-null      float64
 3   zipcode     7 non-null      object
 4   city        7 non-null      object
 5   extra_data  7 non-null      float64
dtypes: float64(4), object(2)
memory usage: 468.0+ bytes

In [69]:
#compare the old data with the new data 
#Process 1
print("Raw shape:", df.shape)
print("Cleaned shape:", df_cleaned.shape)

Raw shape: (7, 6)
Cleaned shape: (7, 6)

In [70]:
# Cleaning process 2
print("Missing values before:\n", df.isnull().sum())
print("\nMissing values after:\n", df_cleaned.isnull().sum())

Missing values before:
 age           1
income        3
score         1
zipcode       0
city          0
extra_data    5
dtype: int64

Missing values after:
 age           0
income        0
score         0
zipcode       0
city          0
extra_data    0
dtype: int64

In [71]:
#Cleaning process 3
print("\nBefore cleaning:\n", df.describe())
print("\nAfter cleaning:\n", df_cleaned.describe())

Before cleaning:
              age        income     score  extra_data
count   6.000000      4.000000  6.000000    2.000000
mean   39.500000  51000.000000  0.801667   23.500000
std     7.556454   7071.067812  0.092826   26.162951
min    29.000000  42000.000000  0.650000    5.000000
25%    35.000000  47250.000000  0.767500   14.250000
50%    39.500000  52000.000000  0.805000   23.500000
75%    44.000000  55750.000000  0.865000   32.750000
max    50.000000  58000.000000  0.910000   42.000000

After cleaning:
             age    income     score  extra_data
count  7.000000  7.000000  7.000000    7.000000
mean   0.500000  0.589286  0.585165    0.500000
std    0.328479  0.314281  0.325952    0.288675
min    0.000000  0.000000  0.000000    0.000000
25%    0.333333  0.531250  0.480769    0.500000
50%    0.500000  0.625000  0.596154    0.500000
75%    0.666667  0.718750  0.769231    0.500000
max    1.000000  1.000000  1.000000    1.000000

In [72]:
#Cleaning process 4
diff = df_cleaned.select_dtypes(include=[float, int]) - df.select_dtypes(include=[float, int])
print("\nDifferences:\n", diff.head())

Differences:
          age      income     score  extra_data
0 -33.761905 -54999.1875 -0.166154         NaN
1 -44.238095         NaN  0.090000       -41.0
2 -29.000000 -42000.0000       NaN         NaN
3 -49.000000 -57999.0000 -0.336923         NaN
4 -37.571429         NaN  0.004615         NaN

In [74]:
#Comparing 2 tables side by side
df_diff = df.compare(df_cleaned, keep_shape=True, keep_equal=False)
print(df_diff.head())

    age             income         score           zipcode       city        \
   self     other     self   other  self     other    self other self other
0  34.0  0.238095  55000.0  0.8125  0.82  0.653846     NaN   NaN  NaN   NaN
1  45.0  0.761905      NaN  0.6250  0.91  1.000000     NaN   NaN  NaN   NaN
2  29.0  0.000000  42000.0  0.0000   NaN  0.596154     NaN   NaN  NaN   NaN
3  50.0  1.000000  58000.0  1.0000  0.76  0.423077     NaN   NaN  NaN   NaN
4  38.0  0.428571      NaN  0.6250  0.88  0.884615     NaN   NaN  NaN   NaN

  extra_data
        self other
0        NaN   0.5
1       42.0   1.0
2        NaN   0.5
3        NaN   0.5
4        NaN   0.5

**Conclusion**

After cleaning, missing numeric values (NaN) were successfully filled using median imputation. All numeric columns (age, income, score, extra_data) were normalized to a 0–1 range. Categorical columns (zipcode, city) remained unchanged. This ensures the dataset is free of missing values and standardized for modeling.